<h1>Post Form</h1>

<input type="text" [(ngModel)]="posttitle" (keyup)="OnkeyUp()" placeholder="post title"><br><br>
<textarea  [(ngModel)]="postDetails" (keyup)="OnkeyUped()"  placeholder="Post Details"></textarea><br><br>

<input type="text" placeholder="Post Image Url"  [(ngModel)]="postImageURL" (keyup)="OnkeyUped()"><br><br>
<input type="text" placeholder="Post Url"  [(ngModel)]="postURL" (keyup)="OnkeyUped()"><br><br>

<input type="checkbox"  [(ngModel)]="addBackground">Add Background


<h1> <span [class.backcolor]="addBackground">{{posttitle}}</span></h1>
<p>{{postDetails}}</p>
<p> <a href="{{postURL}}" target="_blank" [style.display]="postURL ? 'block' : 'none' ">More Details</a></p>
<img [src]="postImageURL" alt="">